<h2>User info</h2>
        <%= attachment_image_tag user, :profile_image, size: "100x100", format: 'jpeg', fallback: "no_image.jpg" %>
            <table class="table">
    	      <tr>
    		      <td>name</td>
    		      <td><%= user.name %></td>
    	      </tr>
    	      <tr>
    		      <td>introduction</td>
    		      <td><%= user.introduction %></td>
    	      </tr>
            </table>
          <%= link_to edit_user_path(user) do %>
          <button type="button" class="btn btn-block">
              <span class="glyphicon glyphicon-wrench" aria-hidden="true"></span>
          </button>
          <% end %>